.SuperWattTitle{
  font-size: 70px;
  position: fixed;
  top:17px;
  left:0px;
}

.SuperWattProject{
  font-size: 15px;
  position: fixed;
  top:75px;
  left:10px;
}

.parameters{
  position: fixed;
  font-size: 12px;
  top:150px;
  left:10px;
}

.logo{
  position:fixed;
  bottom:0px;
  right:-8px
}

.image{
  height:300px;
}

.dash{
  position:fixed;
  top:120px;
  left:450px;
}

