<html>
<head>

<script type="text/javascript" src="/static/javascript/utils.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/superwatt.css" />
<link rel="stylesheet" type="text/css" href="/static/css/semantic.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css" />


<script>
	$(document).ready(function() {
           $("#parameters").draggable();
           loadParameters();

           loadQuery();
           setInterval(loadQuery, 10000);

           
           function loadQuery()
           {
             
             getValueFromUrl("/inverterQuery",true,function(json){
                try {
                     $("#dash").html("");
                     query=JSON.parse(json);    
                     addStat(query.grid_volt +'v',"bolt","Grid_volt","small");
                     addStat(query.grid_freq +'hz',"clock outline","Grid_freq","small");
                     addStat(query.ac_volt +'v',"plug","Ac_volt","small");
                     addStat(query.ac_freq +'hz',"clock outline","Ac_freq","small");
                     addStat(query.ac_va +'va',"plug","Ac_va","small");
                     addStat(query.ac_watt +'w',"bolt","Ac_watt","huge");
                     addStat(query.load_percent +'%',"cog","Load","huge");
                     addStat(query.bus_volt +'v',"plug","Bus_volt","tiny");
                     addStat(query.temp +'°c',"thermometer half","Temp","huge");
                     addStat(query.pv_amps +'a',"plug","Pv_amps","small");
                     addStat(query.pv_volts +'v',"sun","Pv_volts","huge");
                     addStat(query.pv_watts +'w',"sun","Pv_watts","huge");
                     
                     $('#dash').transition('tada');
                    } catch(e)
                    {
                      console.log(e);
                    }
                $('body').find(".moveable").draggable();
	     });

           }

           function addStat(value,icon,label,size)
            {
             $("#dash").append('<div style="position:relative" class="moveable ui ' + size + ' statistic"><div class="value"><i class="' + icon + ' icon"></i>' + value + '</div><div class="label">' + label + '</div></div>');
            }

           function loadParameters()
           {
             var html="";
             getValueFromUrl("/parameters",true,function(json){
                try {
                     parameters=JSON.parse(json);
                     for (var key in parameters) {
                          if ( Array.isArray(parameters[key]) )
                           {
                            for (i=0;i<parameters[key].length;i++)
                              {
                               html+='<tr><td>&nbsp;' + key + '</td><td></td><td></td></tr>';
                               for (var subKey in parameters[key][i])
                                 {
                                   html+='<tr><td></td><td>- &nbsp;' + subKey + '</td><td>' + parameters[key][i][subKey] + '</td></tr>';
                                 }
                              }
                            html+='<tr><td></td><td></td><td></td></tr>';
                           }else
                           {
                            html+='<tr><td>' + key + '</td><td>' + parameters[key] + '</td><td></td></tr>';
                           }
                     }

                    } catch(e)
                    {
                      console.log(e);
                    }					
               getValueFromUrl("/inverterParameters",true,function(json){
                try {
                     parameters=JSON.parse(json);
                     for (var key in parameters) {
                        html+='<tr><td>' + key + '</td><td>' + parameters[key] + '</td><td></td></tr>'; 
                      }
                    } catch (e)
                    {
                      console.log(e);
                    }
                 $("#bodyParameters").html(html);
               });
             });
           }
	});	
</script>




</head>

<body >
    	<div class="SuperWattTitle" >PimpMySuperWatt</div>
        <div class="SuperWattProject"><a href="https://github.com/coxifred/pimpMySuperWatt" target=new class="ui label"><i class="github icon"></i>Coxifred 2020</a>
        <a href="https://paypal.me/FredericCOSTANT/1" target=new class="ui label"><i class="paypal icon"></i>Pay me a beer</a>
        <a href="/parameters" target=new class="ui label"><i class="cubes icon"></i>API - Parameters</a>
        <a href="/inverterParameters" target=new class="ui label"><i class="cubes icon"></i>API - ParametersInverter</a>
        <a href="/inverterQuery" target=new class="ui label"><i class="cubes icon"></i>API - QueryInverter</a></div>

        <div id=parameters class="parameters">
            <table class="ui small compact selectable inverted table">
              <thead>
                 <tr>
                  <th>Key</th>
                  <th>Value</th>
                  <th>SubValue</th>
                </tr>
              </thead>
              <tbody id=bodyParameters>
              </tbody>
             </table>
        </div>
        <div class=logo><img class=image src=/static/images/pimpMySuperWatt.png></div>

        <div id=dash class=dash>
        </div>
  
</body>
</html>
